@require '../../styles/base'

.route-works
  font-size: 1.4rem
  .head
    background:url(./headbg.png)
    .inner
      width: 1200px
      margin: auto;
      color: white
      .projects
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem
        >a
          margin-left: 3rem
          &:nth-of-type(1)
            margin-left: 0
            margin-right: auto;
      .img1
        margin-top: 13rem
  .body
    .inner
      width: 1200px
      margin: auto;
      color: #333
      .img2
        padding-top: 15rem
        text-align: center;
      .img3
        padding-top: 10rem
        text-align: center;
      .contact
        padding-top: 10rem
        text-align: center;
        a
          display: inline-block;
          border: 2px solid #4E4E4E;
          line-height: 3rem
          width: 9rem
      .foot
        border-top: 2px solid #4E4E4E
        margin-top: 10rem
        .projects
          display: flex;
          justify-content: space-between;
          padding: 2.5rem 0
          >a
            margin-left: 3rem
            &:nth-of-type(1)
              margin-left: 0
              margin-right: auto;
